body{
    background-color: rgb(252, 199, 237);

    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}


#asidepara {
    margin-left: 35px;
    margin-right: 35px;

    text-align: justify;
}

button {
    border: none;
    color: none;
}

#AcademicSideBar {
    width: 25%;
    height: 100%;
    float: right;

    margin-top: 15px;

    padding-left: 10px;

    border-left-style: solid;
    border-left-color: darkgray;
}

#PersArtSideBar {
    width: 20%;
    height: 100%;
    float: left;

    margin-top: 15px;

    padding-right: 10px;

    border-right-style: solid;
    border-right-color: darkgray;
}