body{
    background-color: rgb(248, 206, 236);

    font-family: Georgia, 'Times New Roman', Times, serif;

    
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}

h1{
    font-size: xx-large;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    height: 200px;
    width: 350px;

    font-size: medium;
    font-weight: bold;

}

button:hover{
    background-color: rgb(207, 136, 187);
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    height: 200px;
    width: 350px;

    font-size: medium;
    font-weight: bold;

}

button:active{
    background-color: rgb(202, 120, 179);
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    height: 200px;
    width: 350px;

    font-size: medium;
    font-weight: bold;

}

#MainNavigation{
    background-color: rgb(226, 153, 245);

    font-size: x-large;

    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 75px;
    padding-left: 75px;
}

a:link {
    color: #00c986;

    font-weight: bold;

    text-transform: uppercase;
    text-decoration: none;
    }
    a:visited {
    color: #004431;

    font-weight: bold;

    text-transform: uppercase;
    text-decoration: none;
    }
    a:hover {
    color: #008558;
    
    font-weight: bold;

    text-transform: uppercase;
    text-decoration: none;
    }

#asidepara {
    margin-left: 35px;
    margin-right: 35px;

    text-align: justify;
}

button {
    border: none;
    color: none;
}

#AcademicSideBar {
    width: 25%;
    height: 100%;
    float: right;

    margin-top: 15px;

    padding-left: 10px;

    border-left-style: solid;
    border-left-color: darkgray;
}

#PersArtSideBar {
    width: 20%;
    height: 100%;
    float: left;

    margin-top: 15px;

    padding-right: 10px;

    border-right-style: solid;
    border-right-color: darkgray;
}